<%= form_for(@donor) do |f| %>
  <% if @donor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donor.errors.count, "error") %> prohibited this donor from being saved:</h2>

      <ul>
      <% @donor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, class: 'required' %><br>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :last_name, class: 'required' %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth, class: 'required' %><br>
    <%= f.date_field :date_of_birth, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :sex, class: 'required' %><br>
    <%= f.select :sex, Donor::SEX, {include_blank: true}, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :address, class: 'required' %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :primary_phone_number, class: 'required' %><br>
    <%= f.text_field :primary_phone_number, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :secondary_phone_number %><br>
    <%= f.text_field :secondary_phone_number, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :blood_group, class: 'required' %><br>
    <%= f.select :blood_group, Donor::BLOOD_GROUPS, {include_blank: true}, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :email_address %><br>
    <%= f.text_field :email_address, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :donor_card_id %><br>
    <%= f.text_field :donor_card_id, class: 'form-control' %>
    <%= hidden_field_tag :event_id, event_id if (defined? event_id) %>
    <%= hidden_field_tag :event_type, event_type if (defined? event_type) %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', donors_path, class: 'btn btn-default' %>
  </div>

<% end %>
