 <% content_for :header do %>
    <h1><%= @donor.first_name  %> <%= @donor.last_name  %></h1>
  <% end %>

  <div class="row">
    <div class="col-md-6 donor-info">
      <strong>Date of Birth: </strong><%= formatted_date(@donor.date_of_birth, false) %>      
    </div>
    <div class="col-md-6 donor-info">
      <strong>Sex: </strong><%= @donor.sex%> 
    </div>
  </div>

<div class="row">
    <div class="col-md-6 donor-info">
      <strong>Address: </strong><%= @donor.address %>      
    </div>
    <div class="col-md-6 donor-info">
      <strong>Phone Number: </strong><%= @donor.primary_phone_number %> 
    </div>
  </div>

<div class="row">
    <div class="col-md-6 donor-info">
      <strong>Secondary Phone Number: </strong><%= @donor.secondary_phone_number %>     
    </div>
    <div class="col-md-6 donor-info">
      <strong>Blood Group: </strong><%= @donor.blood_group %> 
    </div>
  </div>

<div class="row">
    <div class="col-md-6 donor-info">
      <strong>Email Address: </strong><%= @donor.email_address %>     
    </div>
    <div class="col-md-6 donor-info">
      <strong>Donor Card ID: </strong><%= @donor.donor_card_id %> 
    </div>
</div>

<div class="row">
    <div class="col-md-6 donor-info">
      <strong>Last Emergency Contact Date: </strong><%= formatted_date(@donor.last_emergency_contact_date) if @donor.last_emergency_contact_date %>     
    </div>
    <div class="col-md-6 donor-info">
      <strong>Last Reminder Date: </strong><%= formatted_date(@donor.last_reminder_message_date) if @donor.last_reminder_message_date %> 
    </div>
</div>

<h2>Donations</h2>
<table class="table table-striped table-hover">
<thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @donor.donations.each do |donation| %>
   
      <tr>
        <td><%= formatted_date(donation.created_at) %></td>
        <td><%= donation.eventable_type %></td>
        <td><%= link_to 'View Details', donation.eventable %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_donor_path(@donor), class: 'btn btn-primary' %> 
<%= link_to 'Back', donors_path, class: 'btn btn-primary' %>
