<%= form_for(@emergency) do |f| %>
  <% if @emergency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emergency.errors.count, "error") %> prohibited this emergency from being saved:</h2>

      <ul>
      <% @emergency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :sms_message_text %><br>
    <%= f.text_area :sms_message_text %>
  </div>
  <div class="field">
    <%= f.label :blood_group %><br>
    <%= f.select :blood_group, Donor::BLOOD_GROUPS, {include_blank: 'Select Blood Type'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>