<%= form_for(@emergency) do |f| %>
  <% if @emergency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emergency.errors.count, "error") %> prohibited this emergency from being saved:</h2>

      <ul>
      <% @emergency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-6 col-xs-12">
    <%= f.label :title %><br>
    <%= f.text_field :title , class: 'form-control'%>
  </div>
  <div class="field col-md-6 col-xs-12">
    <%= f.label :blood_group %><br>
    <%= f.select :blood_group, Donor::BLOOD_GROUPS, {include_blank: 'Select Blood Type'}, class: 'form-control' %>
  </div>
  <div class="field col-md-6 col-xs-12">
    <%= f.label :hospital_name %>
    <%= f.text_field :hospital_name, class: 'form-control' %>
  </div>
  <div class="field col-md-6 col-xs-12">
    <%= f.label :contact_phone_number %>
    <%= f.text_field :contact_phone_number, class: 'form-control' %>
  </div>
  <div class="field col-md-12 col-xs-12">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="field col-md-12 col-xs-12">
    <div class="checkbox">
      <label>
        <%= f.check_box :create_draft_facebook_post, class: 'checkbox'  %> <strong>Create draft Facebook post</strong>
      </label>
    </div>
  </div>
  
  <div class="actions col-md-6 col-xs-12">
    <%= f.submit 'Save', class: 'btn btn-primary'%>
    <%= link_to 'Cancel', emergencies_path, class: 'btn btn-default' %>
  </div>
<% end %>