<h1>Emergencies</h1>
<%= link_to 'New Emergency', new_emergency_path, class: 'btn btn-danger'  %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created By</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @emergencies.sort { |x,y| y.created_at <=> x.created_at }.each do |emergency| %>
      <tr>
        <td><%= link_to emergency.title, emergency  %></td>
        <td><%= emergency.created_by  %></td>
        <td><%= formatted_date(emergency.created_at) %></td>
        <td><%= emergency.status.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>