<div># Matches Found: <%= @emergency.num_matches %></div>

<% if Emergency::STATUS_ACTIVE == @emergency.status %>
<div># Matches Contacted: <%= @emergency.contacted_matches.count %></div>
<div># Matches Pending: <%= @emergency.pending_matches.count %></div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @emergency.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @emergency.description %>
</p>

<p>
  <strong>Sms message text:</strong>
  <%= @emergency.sms_message_text %>
</p>

<p>
  <strong>Status:</strong>
  <%= @emergency.status %>
</p>

<p>
  <strong>Blood Group:</strong>
  <%= @emergency.blood_group %>
</p>
<p>
    <strong>Created by:</strong>
  <%= @emergency.created_by %>
</p>

<hr/>

<% if Emergency::STATUS_CLOSE == @emergency.status %>
  <p>
  <strong>Donor Found:</strong>
    <%= @emergency.match_found ? 'Yes' : 'No' %>
    <% if @emergency.donation %>
      <br/>
      <%= link_to "View Donor (#{@emergency.donation.donor.full_name})", @emergency.donation.donor %>
    <% end %>
</p>
  <p>
  <strong>Details:</strong>
    <%= @emergency.match_details %>
</p>
<% end %>

<%= link_to("<span class='glyphicon glyphicon-chevron-left'></span> Back".html_safe, emergencies_path, class: 'btn btn-primary') %>

<% if Emergency::STATUS_DRAFT == @emergency.status %>
<%= link_to("<span class='glyphicon glyphicon-envelope'></span> Contact First Batch".html_safe, emergency_path(@emergency, emergency: {:status => Emergency::STATUS_ACTIVE}), 
    :method => :put, :confirm => "Are you sure ? This will send an SMS to the matching donors.", class: 'btn btn-warning') %>

<%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, edit_emergency_path(@emergency), class: 'btn btn-primary' %>
<% end %>

<% if Emergency::STATUS_ACTIVE == @emergency.status && @emergency.pending_matches.count > 0%>
<%= link_to("<span class='glyphicon glyphicon-envelope'></span> Contact Next Batch".html_safe, emergency_path(@emergency, emergency: { contact_next_batch: true }), 
        :method => :put, :confirm => "Are you sure ? This will send an SMS to the matching donors.", class: 'btn btn-warning') %>
<%= link_to("<span class='glyphicon glyphicon-remove'></span> Close Emergency".html_safe,'#', class: 'btn btn-danger', 'data-toggle' => "modal", 'data-target'=>"#closeEmergencyModal") %>
<% end %>

<%= render 'close_emergency_modal' %>