<div># Matches Found: <%= @emergency.num_matches %></div>

<% if Emergency::STATUS_ACTIVE == @emergency.status %>
<div># Matches Contacted: <%= @emergency.contacted_matches.count %></div>
<div># Matches Pending: <%= @emergency.pending_matches.count %></div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @emergency.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @emergency.description %>
</p>

<p>
  <strong>Sms message text:</strong>
  <%= @emergency.sms_message_text %>
</p>

<p>
  <strong>Status:</strong>
  <%= @emergency.status %>
</p>

<p>
  <strong>Blood Group:</strong>
  <%= @emergency.blood_group %>
</p>
<p>
    <strong>Created by:</strong>
  <%= @emergency.created_by %>
</p>

<hr/>

<% if Emergency::STATUS_CLOSE == @emergency.status %>
  <p>
  <strong>Donor Found:</strong>
    <%= @emergency.match_found ? 'Yes' : 'No' %>
</p>
  <p>
  <strong>Details:</strong>
    <%= @emergency.match_details %>
</p>
<% end %>

<%= link_to("<span class='glyphicon glyphicon-chevron-left'></span> Back".html_safe, emergencies_path, class: 'btn btn-primary') %>

<% if Emergency::STATUS_DRAFT == @emergency.status %>
<%= link_to("<span class='glyphicon glyphicon-envelope'></span> Contact First Batch".html_safe, emergency_path(@emergency, emergency: {:status => Emergency::STATUS_ACTIVE}), 
    :method => :put, :confirm => "Are you sure ? This will send an SMS to the matching donors.", class: 'btn btn-warning') %>

  <%= link_to 'Edit', edit_emergency_path(@emergency), class: 'btn btn-primary' %>
<% end %>

<% if Emergency::STATUS_ACTIVE == @emergency.status && @emergency.pending_matches.count > 0%>
<%= link_to("<span class='glyphicon glyphicon-envelope'></span> Contact Next Batch".html_safe, emergency_path(@emergency, emergency: { contact_next_batch: true }), 
        :method => :put, :confirm => "Are you sure ? This will send an SMS to the matching donors.", class: 'btn btn-warning') %>
<%= link_to("<span class='glyphicon glyphicon-remove'></span> Close Emergency".html_safe,'#', class: 'btn btn-danger', 'data-toggle' => "modal", 'data-target'=>"#closeEmergencyModal") %>
<% end %>

<div class="modal fade" id="closeEmergencyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= form_for(@emergency) do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Close Emergency</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Was a donor found:</label>
            <%= f.select :match_found, [['Yes', true], ['No', false]], {}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Details:</label>
            <%= f.text_area :match_details, class: 'form-control'%>
            <%= f.hidden_field :status, value: Emergency::STATUS_CLOSE %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit "Save".html_safe, class: 'btn btn-success'%>
      </div>
    </div>
  </div>
  <% end %>
</div>

