<% content_for :header do %>
  <h1><%= @emergency.title %></h1>

<% end %>

<div class="col-md-12">
        
  <% if Emergency::STATUS_ACTIVE == @emergency.status && @emergency.pending_matches.count > 0%>
    <%= link_to("<span class='glyphicon glyphicon-remove'></span> Close Emergency".html_safe,'#', class: 'btn btn-danger pull-right', 'data-toggle' => "modal", 'data-target'=>"#closeEmergencyModal") %>
  <% end %>
</div>
 <div class="row">
  <div class="col-md-8 emergency-">
    <h2>Emergency Information</h2>
    <div class="row-fluid">
      <div class="col-md-6 col-xs-12 em_text">
      <strong>Status:   </strong><%= @emergency.status %>      
    </div>
    <div class="col-md-6 col-xs-12  em_text">
      <strong>Created by:   </strong><%= @emergency.created_by %>      
    </div>
    <div class="col-md-6 col-xs-12  em_text">
      <strong>Blood Group:   </strong><%= @emergency.blood_group %>     
    </div>
     <div class="col-md-6 col-xs-12  em_text">
      <strong>Details:   </strong><%= @emergency.description %>    
    </div>
    <div class="col-md-12 col-xs-12  em_text">
      <strong>Sms message text:   </strong><%= @emergency.sms_message_text %>   
    </div>
    </div>
  </div>
  <div class="col-md-4 emergency-meta">
    <h2>Matches Found</h2>
    <ul>
      <li>Found: <%= @emergency.num_matches %></li>
      <% if Emergency::STATUS_ACTIVE == @emergency.status %>
      <li>Contacted: <%= @emergency.contacted_matches.count %></li>
      <li>Pending: <%= @emergency.pending_matches.count %></li>
      <% end %>
    </ul>
    <% if Emergency::STATUS_ACTIVE == @emergency.status && @emergency.pending_matches.count > 0%>
    <%= link_to("<span class='glyphicon glyphicon-envelope'></span> Contact Next Batch".html_safe, emergency_path(@emergency, emergency: { contact_next_batch: true }), 
            :method => :put, :confirm => "Are you sure ? This will send an SMS to the matching donors.", class: 'btn btn-warning') %>
    <% end %>
    <% if Emergency::STATUS_DRAFT == @emergency.status %>
    <%= link_to("<span class='glyphicon glyphicon-envelope'></span> Contact First Batch".html_safe, emergency_path(@emergency, emergency: {:status => Emergency::STATUS_ACTIVE}), 
        :method => :put, :confirm => "Are you sure ? This will send an SMS to the matching donors.", class: 'btn btn-warning') %>

    <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, edit_emergency_path(@emergency), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to("<i class='glyphicon glyphicon-chevron-left'></i> Back".html_safe, emergencies_path, class: 'btn btn-back ') %>

  </div>
</div>

<% if Emergency::STATUS_CLOSE == @emergency.status %>
  <p class="em_text">
  <strong>Donor Found:</strong>
    <%= @emergency.match_found ? 'Yes' : 'No' %>
    <% if @emergency.donation %>
      <br/>
      <%= link_to "View Donor (#{@emergency.donation.donor.full_name})", @emergency.donation.donor %>
    <% end %>
</p>
  <p class="em_text">
  <strong>Details:</strong>
    <%= @emergency.match_details %>
</p>
<% end %>
<%= render 'close_emergency_modal' %>