<nav class="navbar navbar-default navbar-fixed-top" id="nav-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-8">
        <h1 class="page--title"><%= @emergency.title %></h1>
      </div>
      <div class="col-xs-6 col-sm-4">
        <%= link_to("<span class='glyphicon glyphicon-chevron-left'></span> Back".html_safe, emergencies_path, class: 'btn btn-primary') %>
        
        <% if Emergency::STATUS_ACTIVE == @emergency.status && @emergency.pending_matches.count > 0%>
    <%= link_to("<span class='glyphicon glyphicon-remove'></span> Close Emergency".html_safe,'#', class: 'btn btn-danger', 'data-toggle' => "modal", 'data-target'=>"#closeEmergencyModal") %>
    <% end %>
        
      </div>
    </div>
  </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="alert-message">
  <%= flash[:notice]%>
  </div>
</div>
 <div class="row">
  <div class="col-md-8 emergency-">
    <h2>Emergency Information</h2>
    <dl>
      <dt><strong>Details:</strong></dt>
      <dd><%= @emergency.description %></dd>

      <dt>Sms message text:</dt>
      <dd><%= @emergency.sms_message_text %></dd>

      <dt>Status:</dt>
      <dd><%= @emergency.status %></dd>

      <dt>Blood Group:</dt>
      <dd><%= @emergency.blood_group %><dd>

      <dt>Created by:</dt>
      <dd><%= @emergency.created_by %></dd>
    </dl>
  </div>
  <div class="col-md-4 emergency-meta">
    <h2>Matches Found</h2>
    <ul>
      <li>Found: <%= @emergency.num_matches %></li>
      <% if Emergency::STATUS_ACTIVE == @emergency.status %>
      <li>Contacted: <%= @emergency.contacted_matches.count %></li>
      <li>Pending: <%= @emergency.pending_matches.count %></li>
      <% end %>
    </ul>
    <% if Emergency::STATUS_ACTIVE == @emergency.status && @emergency.pending_matches.count > 0%>
    <%= link_to("<span class='glyphicon glyphicon-envelope'></span> Contact Next Batch".html_safe, emergency_path(@emergency, emergency: { contact_next_batch: true }), 
            :method => :put, :confirm => "Are you sure ? This will send an SMS to the matching donors.", class: 'btn btn-warning') %>
    <% end %>
    <% if Emergency::STATUS_DRAFT == @emergency.status %>
    <%= link_to("<span class='glyphicon glyphicon-envelope'></span> Contact First Batch".html_safe, emergency_path(@emergency, emergency: {:status => Emergency::STATUS_ACTIVE}), 
        :method => :put, :confirm => "Are you sure ? This will send an SMS to the matching donors.", class: 'btn btn-warning') %>

    <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, edit_emergency_path(@emergency), class: 'btn btn-primary' %>
    <% end %>
    
  </div>
</div>

<% if Emergency::STATUS_CLOSE == @emergency.status %>
  <p>
  <strong>Donor Found:</strong>
    <%= @emergency.match_found ? 'Yes' : 'No' %>
    <% if @emergency.donation %>
      <br/>
      <%= link_to "View Donor (#{@emergency.donation.donor.full_name})", @emergency.donation.donor %>
    <% end %>
</p>
  <p>
  <strong>Details:</strong>
    <%= @emergency.match_details %>
</p>
<% end %>
<%= render 'close_emergency_modal' %>