<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @emergency.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @emergency.description %>
</p>

<p>
  <strong>Sms message text:</strong>
  <%= @emergency.sms_message_text %>
</p>

<%= link_to 'Edit', edit_emergency_path(@emergency) %> |
<%= link_to 'Back', emergencies_path %>
