<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Primary Number</th>
      <th>Blood group</th>
      <th>Email address</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% donors.compact.each do |donor| %>
   
      <tr>
        <td><%= link_to "#{donor.first_name} #{donor.last_name}", donor %></td>
        <td><%= donor.address %></td>
        <td><%= donor.primary_phone_number %></td>
        <td><%= donor.blood_group %></td>
        <td><%= donor.email_address %></td>
        <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
        <% if defined? blood_drive %>
        <td><%= link_to 'Remove', delete_donor_blood_drife_path(donor_id: donor.id, id: blood_drive.id) %></td>
        <% else %>
          <td><%= link_to 'Remove', donor, method: :get %></td>

        
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
