<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only"> </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <div id="sidebar" class="sidebar">
        <!--logo start-->
        <a class="brand" href="/">
          FONG4LIFE
        </a>
        <div class="sidebar-container">
          <% if current_user.present? %>
            <div id="user-widget" class=" user-options row">
              <div class="col-md-12">
                <span class="user-profile"><%= current_user.name %></span>
                <i class="fa fa-cog"></i>
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
              </div>
            </div>
            <ul class="nav">
              <% if can? :read, BloodDrive %>
                <li><a href="/blood_drives" class="<%= active_section('blood_drives') %>"> <%= image_tag("blood.png", :class => "img-cl") %> Blood Drives</a></li>
              <% end %>
              <% if can? :read, Emergency %>
                <li><a href="/emergencies" class="<%= active_section('emergencies') %>"> <%= image_tag("emergency.png", :class => "img-cl") %> Emergencies</a></li>
              <% end %>
              <% if can? :read, Donor %>
                <li><a href="/donors" class="<%= active_section('donors') %>"><%= image_tag("donors.png", :class => "img-cl") %> Donors </a></li>
              <% end %>
            </ul>
          <% else %>
            <ul class="nav">
              <li>
                <%= link_to '<i class="fa fa-facebook-official"></i> Sign in with Facebook'.html_safe, "/auth/facebook", id: "sign_in" %>
              </li>
              <li>
                <%= link_to '<i class="fa fa-google"></i> Sign in with Google'.html_safe, "/auth/google_oauth2", id: "sign_in_google" %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>