<%= form_for(@blood_drive) do |f| %>
  <% if @blood_drive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blood_drive.errors.count, "error") %> prohibited this blood_drive from being saved:</h2>

      <ul>
      <% @blood_drive.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
