<%= form_for(@blood_drive) do |f| %>
  <% if @blood_drive.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@blood_drive.errors.count, "error") %> prohibited this Blood Drive from being saved:</h4>

      <ul>
      <% @blood_drive.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, class: 'form-control datepicker' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', blood_drives_path, class: 'btn btn-default' %>
  </div>
<% end %>
