<nav class="navbar navbar-default navbar-fixed-top" id="nav-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-8">
        <h1>Blood Drives</h1>
      </div>
      <div class="col-xs-6 col-sm-4">
        <%= link_to 'Create Blood Drive', new_blood_drive_path, class: 'btn btn-warning' %>

      </div>
    </div>
  </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="alert-message">
  <%= flash[:notice]%>
  </div>
</div>

<h2>Today</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @current_drives.each do |blood_drive| %>
      <tr>
        <td><%= blood_drive.location %></td>
        <td><%= formatted_date(blood_drive.date) %></td>
        <td><%= link_to 'Show', blood_drive %></td>
        <td><%= link_to 'Edit', edit_blood_drive_path(blood_drive) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h2>Upcoming</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @upcoming_drives.each do |blood_drive| %>
      <tr>
        <td><%= blood_drive.location %></td>
        <td><%= formatted_date(blood_drive.date) %></td>
        <td><%= link_to 'Show', blood_drive %></td>
        <td><%= link_to 'Edit', edit_blood_drive_path(blood_drive) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h2>Past</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @past_drives.each do |blood_drive| %>
      <tr>
        <td><%= blood_drive.location %></td>
        <td><%= formatted_date(blood_drive.date) %></td>
        <td><%= link_to 'Show', blood_drive %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

