<nav class="navbar navbar-default navbar-fixed-top" id="nav-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-8">
        <h1>Blood Drives</h1>
      </div>
    </div>
  </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="alert-message">
  <%= flash[:notice]%>
  </div>
</div>
<div class="header-btn btn btn-warning pull-right">
    <% if can? :create, BloodDrive %>
       <i class='glyphicon glyphicon-new-window'></i> <%= link_to 'Create Blood Drive', new_blood_drive_path %>
    <% end %>
</div>
<div class="bl_drives">
  <h2>Today</h2>
  <%= render 'donors/drives_table', drives: @current_drives %>

  <h2>Upcoming</h2>
  <%= render 'donors/drives_table', drives: @upcoming_drives, show_edit: true %>

  <h2>Past</h2>
  <%= render 'donors/drives_table', drives: @past_drives %>
</div>

