<h1>Blood Drives</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blood_drives.each do |blood_drive| %>
      <tr>
        <td><%= blood_drive.location %></td>
        <td><%= blood_drive.date %></td>
        <td><%= link_to 'Show', blood_drive %></td>
        <td><%= link_to 'Edit', edit_blood_drife_path(blood_drive) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blood drive', new_blood_drife_path %>
