<% content_for :header do %>
  <h1><%= @blood_drive.location %></h1>
  <% end %>

  <div class="col-md-12 drive-date">
   <p class="meta"><%= formatted_date(@blood_drive.date)%></p>
   </div>
   <div class="row">
     <div class="col-md-12 drive-p">
         <p>
            <%= @blood_drive.description %>
         </p>
     </div>
     <div class="col-md-8">
       <%= render 'shared/donors_table', donors: @donors, blood_drive: @blood_drive %>
     </div>
     <div class="col-md-4">
       <%= form_tag "/blood_drives/#{@blood_drive.id}/add_donor/", method: :post, id: 'add-donor-to-drive' do %>
       <h3>Add Existing Donor</h3>
       <%= select_tag :donor_id, options_from_collection_for_select(Donor.all, "id", "autocomplete_text") %>
       <div class="actions">
         <%= submit_tag 'Add Donor', class: 'btn btn-primary' %>
       </div>
       <% end %>
       <h3>Add New Donor</h3>
      <%= render partial: 'donors/form', locals: { event_id: @blood_drive.id, event_type: 'blood_drive' } %>
     </div>
</div>
                                                                               




