<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @blood_drive.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @blood_drive.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blood_drive.description %>
</p>

<%= render partial: 'donors/form', locals: { event_id: @blood_drive.id, event_type: 'blood_drive' } %>

<%= render 'shared/donors_table', donors: @donors %>
