<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <title>Fong4life</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
<section class="main-wrapper"> 
 <!--
  <form class="navbar-form navbar-right" style='display: none'>
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>
  -->
  
  
  <!-- main container to views -->
  <div class="body">
    <div class="container-fluid rubix-grid">
      <%= yield %> 
    </div> <!-- /container -->
  </div>
  <!-- footer -->
  <footer>
    <div class="container-fluid rubix-grid text-center">
      <p>&copy; Fong4Life 2014</p>
    </div>
  </footer>
  
  <!-- Mobile Nav -->

  <nav class="navbar navbar-inverse hidden-sm hidden-md hidden-lg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"> </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div id="user-widget" class="user-options row-fluid">
              <% if current_user %>
               
               <div class="col-md-12">
                 <span class="user-profile"><%= current_user.name %></span>
                 <br />
                 <i class="fa fa-cog"></i> 
                 <%= link_to "Sign out", signout_path, id: "sign_out" %>
               </div>
              <% else %>
               <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
             <br />
               <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in_google" %>
              <% end %>
            </div>
           <% if current_user.present? %>
              <ul class="nav">
                <% if can? :read, BloodDrive %>
                  <li><a href="/blood_drives">Blood Drives</a></li>
                <% end %>
                <% if can? :read, Emergency %>
                  <li><a href="/emergencies">Emergencies</a></li>
                <% end %>
                <% if can? :read, Donor %>
                  <li><a href="/donors">Donors </a></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
    </div>
</nav>
  <!-- End Mobile Nav -->
  
  <!-- sidebar -->
  <aside id="sidebar" class="sidebar hidden-xs">
    <!--logo start-->
     <a class="brand" href="/">
       FONG4LIFE
    </a>                   
    <div class="sidebar-container">
     
     <div id="user-widget" class="user-options row">
        <% if current_user %>
         
         <div class="col-md-12">
           <span class="user-profile"><%= current_user.name %></span>
           <br />
           <i class="fa fa-cog"></i> 
           <%= link_to "Sign out", signout_path, id: "sign_out" %>
         </div>
        <% else %>
         <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
       <br />
         <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in_google" %>

        <% end %>
      </div>
     <% if current_user.present? %>
        <ul class="nav">
          <% if can? :read, BloodDrive %>
            <li><a href="/blood_drives">Blood Drives</a></li>
          <% end %>
          <% if can? :read, Emergency %>
            <li><a href="/emergencies">Emergencies</a></li>
          <% end %>
          <% if can? :read, Donor %>
            <li><a href="/donors">Donors </a></li>
          <% end %>
        </ul>
      <% end %>
      
    </div>
  </aside>
</section>
<%= javascript_include_tag "application" %>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
