<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Fong4life</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Fong4life</a>
    </div>
    <div class="navbar-collapse collapse">
      <% if current_user.present? %>
        <ul class="nav navbar-nav">
          <li><a href="/blood_drives">Blood Drives</a></li>
          <li><a href="/emergencies">Emergencies</a></li>
          <li><a href="/donors">Donors</a></li>
        </ul>
      <% end %>
      <div id="user-widget" class='navbar-form navbar-right'>
        <% if current_user %>
          Welcome <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
      </div>
      <form class="navbar-form navbar-right" style='display: none'>
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">

  <div class="alert-message">
  <%= flash[:notice]%>
  </div>
  </div>
</div>

<div class="container">
      <%= yield %>

  <hr>

  <footer>
    <p>&copy; Fong4Life 2014</p>
  </footer>
</div> <!-- /container -->

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
