<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Arimo|Abel|Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
  <title><%= ENV['ORG_NAME'] %> :: Blood Donor/Drive Management</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_path.gsub('/', '-') %> <%= action_name %>">
<section class="main-wrapper">

  <!-- main container to views -->
  <div class="body">
    <div class="container-fluid rubix-grid">
      <nav class="navbar navbar-default navbar-fixed-top" id="nav-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-8">
              <%= yield :header %>
            </div>
          </div>
        </div>
      </nav>
      <% if flash[:notice] %>
        <div class="alert-message alert alert-success">
          <%= flash[:notice]%>
        </div>
      <% end %>
      <%= breadcrumbs separator: " &rsaquo; " %>
      <%= yield %>
    </div> <!-- /container -->
  </div>

  <!-- Sidebar -->
  <%= render 'shared/side_nav' %>

  <!-- footer -->
  <footer class="sticky-footer">
    <div class="container-fluid rubix-grid text-center">
      <p>&copy; <%= ENV['ORG_NAME'] %>  2015</p>
    </div>
  </footer>

</section>
<%= javascript_include_tag "application" %>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
